fastapi==0.119.1
uvicorn[standard]==0.38.0
pandas==2.3.3
numpy==2.3.3
SQLAlchemy==2.0.44
pydantic==2.12.3
pydantic-settings==2.11.0
python-dotenv==1.1.1
httpx==0.28.1
python-multipart==0.0.20
scikit-learn==1.7.2
scipy==1.16.2
